<!DOCTYPE html>
<html>
<head>
    <title>JSP, AJAX and JSON demo</title>
    <link href="dict.css" type="text/css" rel="stylesheet" />
    <script src="jquery-3.4.1.js"></script>
    <script src="dict.js"></script>

 </head>
<body>
<br>
<h1> Online Dictionary</h1>

<input id="word" value="" placeholder="please enter your keyword" maxlength="20" required=" please enter ypur word first" >
<button id="lookup">Lookup</button>
<br> <br> <br>
<hr>
<table border="0px" width="700px;">
    <tbody id="content"></tbody>
</table>

</body>
</html>
