<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Crew Assignment</title>
</head>
<body>
    <div align="center">
        <h1>Crew Assignment</h1>
        <br />
        <form action="#" th:action="@{/addCrew}" th:object="${book}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Crew Id:</td>
                    <td><input type="text" th:field="*{crewid}" /></td>
                </tr>
                <tr>
                    <td>name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>
               <select>
	    	<option>Male</option>
	    	<option>Female</option>	    	
	         </select>
	         </td>
                </tr>
                <tr>
                    <td>Position:</td>
                    <td> 
                       <select>
	    	         <option>Pilot</option>
	    	        <option>Copilot</option>
	    	        <option>Hostes</option>	    	        
	                 </select>
                    </td>
                </tr>
                               
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
